.society-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.society-header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.announcements-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcement-container {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.announcement-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.edit-event-btn {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-event-btn:hover {
    background-color: #218838;
}

.delete-event-btn {
    background-color: #dc3545; /* Kırmızı renk */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-event-btn:hover {
    background-color: #a71d2a; /* Daha koyu kırmızı hover efekti */
}
